{% extends "boilerPlate.html" %}
{% block head %}
<link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
{% block content %}
<div class="mx-5 l2_background bordered d-flex flex-column align-items-sm-center align-items-start justify-content-center p-5 my-3">
    <h1 class="stand-out-text">Welcome to Mike's Row Shop!</h1>
    {% if user_logged_in == False %}
    <p class="remove-line-height pt-3">Login to get started</p>
    {% else %}
    <p class="remove-line-height pt-3 ">Good to see you again {{ user.username }}</p>
    {% endif %}
</div>
<div>
    {% for item, seller in items %}
        {% if item.seller_id != current_user.id %}
        <div class="mx-5 l2_background bordered d-flex flex-lg-row flex-column align-items-lg-center align-items-start mb-3">
        <img class="img-fluid mb-4 mb-lg-0 align-self-lg-start align-self-center" src="static/images/{{ item.image }}" alt="item image" class="me-5">
        <div class="d-flex flex-column px-sm-5 px-4 align-items-start justify-content-center item-details">
            <p class="extra-large-text">£{{ item.price }}</p>
            <h2 class="stand-out-text">{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p class="remove-line-height"><img class="me-2" src="{{ url_for('static', filename='icons/Smock_Box_18_N.svg') }}" alt="Stock quantity icon">{{ item.stock_quantity }} stock left available</p>
            <p class="remove-line-height"><img class="me-2" src="{{ url_for('static', filename='icons/Smock_Ship_18_N.svg') }}" alt="Shipping method icon">{{ item.shipping_method }}</p>
            <p class="remove-line-height"><img class="me-2" src="{{ url_for('static', filename='icons/Smock_Location_18_N.svg') }}" alt="Location icon">{{ item.location }}</p>
            <p class="remove-line-height"><img class="me-2" src="{{ url_for('static', filename='icons/Smock_User_18_N.svg') }}" alt="Seller icon">@{{ seller.username }}</p>
            <hr class="button-divider-hr mb-4">
            {% if item.stock_quantity == 0 %}
                <p class="align-self-end mb-5 mb-lg-0 bold">Out of stock</p>
            {% elif user_logged_in == False %}
                <p class="align-self-end mb-5 mb-lg-0 bold">Login to add to basket</p>
            {% else %}
                <a href="#" class="btn rounded-pill action-button px-4 align-self-end mb-5 mb-lg-0 add-to-basket-button" data='{"item_id":{{ item.id }}, "user_id":{{current_user.id}}}' aria-disabled="false">Add to cart</a>
            {% endif %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}